@font-face {
    font-family: 'Nanum';
    /* 원하는 폰트 이름 설정 */
    src: url('../../assets/NanumSquareNeoTTF-bRg.woff2') format('woff2'),
        url('../../assets/NanumSquareNeoTTF-bRg.woff') format('woff');
}

/* Menu.css */
body {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

.header-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
    background-color: #242424;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-container {
    position: absolute;
    top: 20px;
    right: 20px;
}

.search-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 20;
}

.search-input {
    position: fixed;
    top: 40px;
    right: 20px;
    width: 200px;
    background: rgba(51, 51, 51, 0);
    z-index: 30;
    padding: 10px;
}

.menu {
    display: flex;
    justify-content: flex-end;

    position: relative;

    z-index: 1;
    padding: 20px;
    max-width: 800px;
    margin: 80px auto;
    margin-left: 60px;

    margin-bottom: 30px;
}

.menu .item {
    padding: 18px 28px;
    cursor: pointer;
    transition: color 0.3s ease-out;
    text-decoration: none;
    color: #fff;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-family: 'Nanum';
    font-size: 15px;
    margin: 5px 0;
}

.menu .item.active {
    color: #ffffff;
}

.menu .indicator {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 30px;
}

.hamburger-menu {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 2rem;
    height: 2rem;
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 999;
    cursor: pointer;
}

.hamburger-menu span {
    width: 2rem;
    height: 0.25rem;
    background: #ffffff;
    border-radius: 10px;
    transition: all 0.3s linear;
    position: relative;
    transform-origin: 1px;
}

.menu-items {
    transition: transform 0.3s ease-in-out;
    transform: translateY(-100%);
}

.menu-items.open {
    transform: translateY(0);
}

@media (max-width: 800px) {

    .search-icon {
        right: 170px;
    }

    .menu {
        flex-direction: column;
        align-items: center;
    }

    .hamburger-menu {
        display: flex;
    }

    .menu-items {
        flex-direction: column;
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        background: #313131;
        z-index: 999;
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
        border-radius: 0;
        visibility: hidden;
    }

    .menu-items.open {
        transform: translateX(0);
        width: 150px;
        box-shadow: 0 8px 16px 0 rgba(152, 21, 200, 0.5), 0 6px 20px 0 rgba(152, 21, 200, 0.5);
        visibility: visible;
    }

    .menu .item {
        color: #aaaaaa;
        display: block;
        text-align: right;
        width: 150px;
    }

    .menu .item:hover {
        background-color: rgba(113, 0, 154, 0.708);
        /* Change this to your preferred color */
    }

    .menu .indicator {
        display: none;
    }
}

@media (min-width: 801px) and (max-width: 1170px) {
    .menu .indicator {
        position: absolute;
        top: auto;
        bottom: 0.1;
        left: 0;
        height: 17px !important;
        border-radius: 1;
    }
}