.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex-grow: 1;
}


.fixedFooter {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #242424;
  padding: 40px 0;
  text-align: center;
}

.footer {
  background-color: #242424;
  padding: 40px 0;
  text-align: center;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

p {
  color: #888;
  font-size: 16px;
}