/* 전체 스타일 */
body {
  margin: 0;
  padding: 0;
  font-family: 'Nanum', sans-serif;
  background-color: #ffffff; /* 배경 색상을 수정 */
  color: #242424; /* 폰트 색상을 수정 */
}

/* 회원 가입 폼 컨테이너 */
.signupContainer {
  background-color: transparent; /* 폼의 배경 색상을 투명하게 설정 */
  padding: 40px;
  max-width: 800px;  /* 반응형으로x */
  margin: 60px auto;
  min-height: 100vh;  /* 반응형으로x */
  display: flex;
  flex-direction: column;
  align-items: center; /*행  */
  /* justify-content: center; */  /* 열 */
  border-radius: 10px;
}

/* 제목 스타일 */
.signupHeading {
  font-size: 30px; /* 제목 폰트 사이즈 수정 */
  font-weight: bold;
  text-align: center; 
  margin-bottom: 30px;
  font-family: 'Nanum', sans-serif;
}

/* 회원 가입 폼 */
.signupForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
}

/* 입력 그룹 간격 */
.formGroup {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

/* 입력 필드 스타일 */
.inputField {
  flex: 1;
  height: 40px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f8f8f8;
  color: #333;
}

/* 입력 필드 플레이스홀더 스타일 */
.inputField::placeholder {
  color: #999;
}

/* 라디오 버튼 컨테이너 스타일 */
.genderRadioContainer {
  display: flex;
  align-items: flex-start;
  padding: 10px;
  flex-wrap: wrap;
}

/* 라디오 버튼 라벨 스타일 */
.genderRadio_Label {
  align-items: center;
  margin-right: 20px;
  font-size: 14px; /* 라디오 버튼 라벨 폰트 사이즈 수정 */
  cursor: pointer;
  position: relative;
  color: #333;
  letter-spacing: 1px;
  font-family: 'Nanum', sans-serif;
}

/* 라디오 버튼 기본 스타일 */
.genderRadio_Input {
  width: 20px;
  height: 20px;
  appearance: none;
  border: 2px solid #ccc;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  margin-right: 8px;
  background-color: transparent;
  font-size: 10px;
  font-family: 'Nanum', sans-serif;
  position: relative;
  vertical-align: middle;
}

/* 라디오 버튼 상태에 대한 스타일 */
.genderRadio_Input:checked {
  background-color: #f44336;
}

/* 라디오 버튼 선택 표시 스타일 */
.genderRadio_Input:checked::after {
  opacity: 1;
}

/* 회원 가입 버튼 스타일 */
.submitButton {
  display: block;
  width: 100%;
  padding: 12px;
  background-color: #ccc; /* 가입 전에는 회색 배경색으로 설정 */
  color: #fff;
  font-size: 14px; /* 버튼 폰트 사이즈 수정 */
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submitButton:hover {
  background-color: rgba(244, 67, 54, 0.8);
}

/* 추가적인 스타일 */
div {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 푸터와의 간격 설정 */
.footer.content {
  margin-top: 40px;
}

/* 정책 */
/* 체크박스 */
/* 체크박스 */
.CheckboxContainer {
  display: flex;
  align-items: center;
}

.FormCheck_Label {
  margin-right: 20px;
  display: flex;
  align-items: center;
}

/* 체크박스의 기본 스타일 */
.FormCheck_Input {
  width: 20px;
  height: 20px;
  appearance: none;
  border: 3px solid #ffffff46;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  margin-right: 8px;
  background-color: transparent;
  font-size: 10px;
  font-family: Nanum, sans-serif;
  position: relative;
}

/* 체크박스의 체크 상태에 대한 스타일 */
.FormCheck_Input:checked {
  background-color: #f44336;
}

/* 체크 표시 스타일 */
/* 기본적으로 체크 표시를 숨깁니다 (opacity를 0으로 설정) */
.FormCheck_Input::after {
  content: '\2713';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 16px;
  color: white;
  font-size: 16px;
  border-radius: 50%;
  background-color: #f44336;
  opacity: 0; /* 체크 표시 숨김 */
}

/* 체크박스가 체크 상태일 때, ::after 영역을 보이도록 opacity를 1로 설정 */
.FormCheck_Input:checked::after {
  opacity: 1; /* 체크 표시 보이기 */
}

/* 체크박스 라벨 스타일 */
.checkboxLabel a {
  color: #007bff;
  text-decoration: none;
  font-family: 'Nanum', sans-serif;
  font-size: 14px; /* 체크박스 라벨 폰트 사이즈 수정 */
  letter-spacing: 2px;
}
