/* 프로필 컨테이너 스타일 */
.profileContainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* 프로필 래퍼 스타일 */
.profileWrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* 프로필 컬럼 스타일 */
.profileColumn {
  flex: 1;
}

/* 프로필 이미지 스타일 */
.profileImage {
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 10px;
}

/* 커스텀 프로필 디테일스 스타일 */
.customProfileDetails {
  flex: 2;
}

/* 커스텀 프로필 리스트 아이템 스타일 */
.customProfileList li {
  padding: 10px;
  position: relative;
  color: #333;
  text-align: left;
  display: flex;
  align-items: center; /* 아이콘과 텍스트 수직 정렬 */
}

/* 아이콘 스타일 */
.customProfileList li svg {
  margin-right: 10px; /* 아이콘과 텍스트 사이 간격 조정 */
}

/* 커스텀 프로필 리스트 아이템 구분선 스타일 */
.customProfileList li hr {
  position: absolute;
  width: calc(100% - 20px);
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  margin: 0;
}

.formGroup {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}


/* 입력 필드 스타일 */
.inputField {
  margin-top: 20px;
  text-align: left;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

/* 입력 필드 레이블 스타일 */
.inputField label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

/* 입력 필드 입력 스타일 */
.inputField input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* 입력 필드 버튼 스타일 */
.inputField button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.inputField button:hover {
  background-color: #0056b3;
}

.hr-sect {
  padding: 0px 50px; /* 위, 왼쪽 padding만 지정 */
  display: flex;
  flex-basis: 100%;
  align-items: center;
  color: rgba(0, 0, 0, 0.35);
}

.hr-sect::before,
.hr-sect::after {
  content: "";
  flex-grow: 1;
  background: #ccc;
  height: 1px;
}


